.button {
	-fx-background-color:  #008080;
	-fx-border-color:  #008080;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size:15px;
}

.button:hover ,.button:active{
	-fx-background-color:  #008080;
	-fx-border-color:  #006666;
	-fx-border-width:  3px;	
}
.accordion>*.titled-pane>*.title{
	-fx-background-color: #336699;
}

.titled-pane:expanded .title .arrow-button .arrow {
	-fx-background-color : white;
}
.titled-pane .title .arrow-button .arrow {
	-fx-background-color : white;
}
.first-titled-pane:expanded{
	-fx-background-color: #336699;
	-fx-border-color:  #336699;
}

.combo-box .arrow, .combo-box .arrow-button .arrow{
    -fx-background-color: white;
}
.combo-box .arrow, .combo-box .arrow-button{
    -fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #336699;
    -fx-text-fill: white;
}
.combo-box .cell:selected {
    -fx-background-color: white;
    -fx-text-fill: #008080;
}
.combo-box{
	-fx-background-color: #008080;
	-fx-border-color: #008080;
	-fx-font-weight: bold;
}

.text-field:focused {
    -fx-border-color: #008080;
}
.date-picker{
	-fx-text-fill: #336699;
	-fx-font-weight: bold;
}
.date-picker > .arrow-button > .arrow{
	-fx-background-color: white;
}
.date-picker > .arrow-button{
	-fx-background-color: #008080;
	-fx-border-color:  #008080;
	-fx-border-width:  3px;
}
.date-cell:hover,.date-cell:active {
  -fx-background-color: #008080;
  -fx-border-color:  #008080;
  -fx-text-fill: white;
}
.scroll-pane .track,.text-area .track{
	-fx-background-color:white; 
}
.scroll-pane .thumb,.text-area .thumb{
	-fx-background-color:#336699; 
}
.scroll-pane .increment-button ,.scroll-pane .decrement-button,.text-area .increment-button ,.text-area .decrement-button {
	-fx-background-color: #336699;
}
.scroll-pane .increment-arrow,.scroll-pane .decrement-arrow,.text-area .increment-arrow,.scroll-pane .decrement-arrow{
    -fx-background-color: white;
}
.scroll-pane {
    -fx-background-color:transparent;
}
.text-area {
  -fx-text-fill: #336699;
  -fx-font-size:13px;
  -fx-font-weight: bold;
}